openapi: 3.2.0
info:
  title: dotloop Public API v2 Tasks API
  description: The dotloop Public API v2 is a documented, OAuth2-secured JSON REST API for the dotloop real estate transaction management platform (a Zillow Group company).
  termsOfService: https://www.dotloop.com/terms-of-service/
  contact:
    name: dotloop Developer Support
    url: https://dotloop.github.io/public-api/
  version: '2.0'
servers:
- url: https://api-gateway.dotloop.com/public/v2
  description: dotloop Public API v2
security:
- oauth2: []
tags:
- name: Tasks
  description: Task lists and task items on a loop.
paths:
  /profile/{profile_id}/loop/{loop_id}/tasklist:
    parameters:
    - $ref: '#/components/parameters/ProfileId'
    - $ref: '#/components/parameters/LoopId'
    get:
      operationId: listTaskLists
      tags:
      - Tasks
      summary: List task lists
      description: Lists the task lists on a loop (scope loop:read).
      responses:
        '200':
          description: A list of task lists.
  /profile/{profile_id}/loop/{loop_id}/tasklist/{task_list_id}:
    parameters:
    - $ref: '#/components/parameters/ProfileId'
    - $ref: '#/components/parameters/LoopId'
    - $ref: '#/components/parameters/TaskListId'
    get:
      operationId: getTaskList
      tags:
      - Tasks
      summary: Get a task list
      description: Retrieves a single task list on a loop (scope loop:read).
      responses:
        '200':
          description: The task list.
  /profile/{profile_id}/loop/{loop_id}/tasklist/{task_list_id}/task:
    parameters:
    - $ref: '#/components/parameters/ProfileId'
    - $ref: '#/components/parameters/LoopId'
    - $ref: '#/components/parameters/TaskListId'
    get:
      operationId: listTasks
      tags:
      - Tasks
      summary: List task items
      description: Lists the task items within a task list (scope loop:read).
      responses:
        '200':
          description: A list of task items.
  /profile/{profile_id}/loop/{loop_id}/tasklist/{task_list_id}/task/{task_list_item_id}:
    parameters:
    - $ref: '#/components/parameters/ProfileId'
    - $ref: '#/components/parameters/LoopId'
    - $ref: '#/components/parameters/TaskListId'
    - name: task_list_item_id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getTask
      tags:
      - Tasks
      summary: Get a task item
      description: Retrieves a single task item within a task list (scope loop:read).
      responses:
        '200':
          description: The task item.
components:
  parameters:
    ProfileId:
      name: profile_id
      in: path
      required: true
      schema:
        type: integer
    TaskListId:
      name: task_list_id
      in: path
      required: true
      schema:
        type: integer
    LoopId:
      name: loop_id
      in: path
      required: true
      schema:
        type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 authorization code flow. Access tokens are short-lived (typically 12 hours) and passed as a Bearer token. Scopes include account:read, profile:read, profile:write, loop:read, loop:write, contact:read, contact:write, and template:read.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.dotloop.com/oauth/authorize
          tokenUrl: https://auth.dotloop.com/oauth/token
          scopes:
            account:read: Read account details.
            profile:read: Read profiles.
            profile:write: Create and update profiles.
            loop:read: Read loops, details, folders, documents, participants, tasks, and activities.
            loop:write: Create and update loops and their contents.
            contact:read: Read contacts.
            contact:write: Create, update, and delete contacts.
            template:read: Read loop templates.
