openapi: 3.2.0
info:
  title: dotloop Public API v2 Participants API
  description: The dotloop Public API v2 is a documented, OAuth2-secured JSON REST API for the dotloop real estate transaction management platform (a Zillow Group company).
  termsOfService: https://www.dotloop.com/terms-of-service/
  contact:
    name: dotloop Developer Support
    url: https://dotloop.github.io/public-api/
  version: '2.0'
servers:
- url: https://api-gateway.dotloop.com/public/v2
  description: dotloop Public API v2
security:
- oauth2: []
tags:
- name: Participants
  description: Parties to a loop.
paths:
  /profile/{profile_id}/loop/{loop_id}/participant:
    parameters:
    - $ref: '#/components/parameters/ProfileId'
    - $ref: '#/components/parameters/LoopId'
    get:
      operationId: listParticipants
      tags:
      - Participants
      summary: List participants
      description: Lists the participants on a loop (scope loop:read).
      responses:
        '200':
          description: A list of participants.
    post:
      operationId: addParticipant
      tags:
      - Participants
      summary: Add a participant
      description: Adds a participant to a loop (scope loop:write).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The added participant.
  /profile/{profile_id}/loop/{loop_id}/participant/{participant_id}:
    parameters:
    - $ref: '#/components/parameters/ProfileId'
    - $ref: '#/components/parameters/LoopId'
    - $ref: '#/components/parameters/ParticipantId'
    get:
      operationId: getParticipant
      tags:
      - Participants
      summary: Get a participant
      description: Retrieves a single participant on a loop (scope loop:read).
      responses:
        '200':
          description: The participant.
    patch:
      operationId: updateParticipant
      tags:
      - Participants
      summary: Update a participant
      description: Updates a participant on a loop (scope loop:write).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated participant.
    delete:
      operationId: removeParticipant
      tags:
      - Participants
      summary: Remove a participant
      description: Removes a participant from a loop (scope loop:write).
      responses:
        '204':
          description: The participant was removed.
components:
  parameters:
    LoopId:
      name: loop_id
      in: path
      required: true
      schema:
        type: integer
    ParticipantId:
      name: participant_id
      in: path
      required: true
      schema:
        type: integer
    ProfileId:
      name: profile_id
      in: path
      required: true
      schema:
        type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 authorization code flow. Access tokens are short-lived (typically 12 hours) and passed as a Bearer token. Scopes include account:read, profile:read, profile:write, loop:read, loop:write, contact:read, contact:write, and template:read.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.dotloop.com/oauth/authorize
          tokenUrl: https://auth.dotloop.com/oauth/token
          scopes:
            account:read: Read account details.
            profile:read: Read profiles.
            profile:write: Create and update profiles.
            loop:read: Read loops, details, folders, documents, participants, tasks, and activities.
            loop:write: Create and update loops and their contents.
            contact:read: Read contacts.
            contact:write: Create, update, and delete contacts.
            template:read: Read loop templates.
