openapi: 3.0.3
info:
  title: dotloop Public API v2 Account Contacts API
  description: The dotloop Public API v2 is a documented, OAuth2-secured JSON REST API for the dotloop real estate transaction management platform (a Zillow Group company). It exposes the authenticated account, profiles, loops (transactions) and their structured details, folders, documents, participants, tasks, activities, contacts, loop templates, and webhook subscriptions, plus a Loop-It facade that creates and populates a loop in a single call. All requests and responses are `application/json` (document upload uses multipart form-data). Access is currently restricted to INDIVIDUAL profiles. Endpoints and paths in this document are grounded in the published developer guide at https://dotloop.github.io/public-api/.
  termsOfService: https://www.dotloop.com/terms-of-service/
  contact:
    name: dotloop Developer Support
    url: https://dotloop.github.io/public-api/
  version: '2.0'
servers:
- url: https://api-gateway.dotloop.com/public/v2
  description: dotloop Public API v2
security:
- oauth2: []
tags:
- name: Contacts
  description: The authenticated user's contacts (address book).
paths:
  /contact:
    get:
      operationId: listContacts
      tags:
      - Contacts
      summary: List contacts.
      description: Lists the authenticated user's contacts (scope contact:read).
      responses:
        '200':
          description: A list of contacts.
    post:
      operationId: createContact
      tags:
      - Contacts
      summary: Create a contact.
      description: Creates a new contact (scope contact:write).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created contact.
  /contact/{contact_id}:
    parameters:
    - name: contact_id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: getContact
      tags:
      - Contacts
      summary: Get a contact.
      description: Retrieves a single contact (scope contact:read).
      responses:
        '200':
          description: The contact.
    patch:
      operationId: updateContact
      tags:
      - Contacts
      summary: Update a contact.
      description: Updates an existing contact (scope contact:write).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated contact.
    delete:
      operationId: deleteContact
      tags:
      - Contacts
      summary: Delete a contact.
      description: Deletes a contact (scope contact:write).
      responses:
        '204':
          description: The contact was deleted.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 authorization code flow. Access tokens are short-lived (typically 12 hours) and passed as a Bearer token. Scopes include account:read, profile:read, profile:write, loop:read, loop:write, contact:read, contact:write, and template:read.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.dotloop.com/oauth/authorize
          tokenUrl: https://auth.dotloop.com/oauth/token
          scopes:
            account:read: Read account details.
            profile:read: Read profiles.
            profile:write: Create and update profiles.
            loop:read: Read loops, details, folders, documents, participants, tasks, and activities.
            loop:write: Create and update loops and their contents.
            contact:read: Read contacts.
            contact:write: Create, update, and delete contacts.
            template:read: Read loop templates.
