openapi: 3.0.3
info:
  title: dotloop Public API v2 Account Folders API
  description: The dotloop Public API v2 is a documented, OAuth2-secured JSON REST API for the dotloop real estate transaction management platform (a Zillow Group company). It exposes the authenticated account, profiles, loops (transactions) and their structured details, folders, documents, participants, tasks, activities, contacts, loop templates, and webhook subscriptions, plus a Loop-It facade that creates and populates a loop in a single call. All requests and responses are `application/json` (document upload uses multipart form-data). Access is currently restricted to INDIVIDUAL profiles. Endpoints and paths in this document are grounded in the published developer guide at https://dotloop.github.io/public-api/.
  termsOfService: https://www.dotloop.com/terms-of-service/
  contact:
    name: dotloop Developer Support
    url: https://dotloop.github.io/public-api/
  version: '2.0'
servers:
- url: https://api-gateway.dotloop.com/public/v2
  description: dotloop Public API v2
security:
- oauth2: []
tags:
- name: Folders
  description: Folders that organize documents within a loop.
paths:
  /profile/{profile_id}/loop/{loop_id}/folder:
    parameters:
    - $ref: '#/components/parameters/ProfileId'
    - $ref: '#/components/parameters/LoopId'
    get:
      operationId: listFolders
      tags:
      - Folders
      summary: List folders.
      description: Lists the folders within a loop (scope loop:read).
      responses:
        '200':
          description: A list of folders.
    post:
      operationId: createFolder
      tags:
      - Folders
      summary: Create a folder.
      description: Creates a new folder within a loop (scope loop:write).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created folder.
  /profile/{profile_id}/loop/{loop_id}/folder/{folder_id}:
    parameters:
    - $ref: '#/components/parameters/ProfileId'
    - $ref: '#/components/parameters/LoopId'
    - $ref: '#/components/parameters/FolderId'
    get:
      operationId: getFolder
      tags:
      - Folders
      summary: Get a folder.
      description: Retrieves a single folder within a loop (scope loop:read).
      responses:
        '200':
          description: The folder.
    patch:
      operationId: updateFolder
      tags:
      - Folders
      summary: Update a folder.
      description: Updates an existing folder within a loop (scope loop:write).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated folder.
components:
  parameters:
    FolderId:
      name: folder_id
      in: path
      required: true
      schema:
        type: integer
    ProfileId:
      name: profile_id
      in: path
      required: true
      schema:
        type: integer
    LoopId:
      name: loop_id
      in: path
      required: true
      schema:
        type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 authorization code flow. Access tokens are short-lived (typically 12 hours) and passed as a Bearer token. Scopes include account:read, profile:read, profile:write, loop:read, loop:write, contact:read, contact:write, and template:read.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.dotloop.com/oauth/authorize
          tokenUrl: https://auth.dotloop.com/oauth/token
          scopes:
            account:read: Read account details.
            profile:read: Read profiles.
            profile:write: Create and update profiles.
            loop:read: Read loops, details, folders, documents, participants, tasks, and activities.
            loop:write: Create and update loops and their contents.
            contact:read: Read contacts.
            contact:write: Create, update, and delete contacts.
            template:read: Read loop templates.
